/* FlashCard component */
.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 103, 249);
  width: 100%;
}
.card-counter {
  text-align: center;
  padding: 10px 0px 10px 0;
  font-size: x-large;
  color: #6d6d6d;
  margin-bottom: 10px;
}
/* Footer */
.name {
  font-size: 12px;
  color: #6d6d6d;
}
/* Header component */

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: larger;
}
.title {
  margin-top: -20px;
  font-size: large;
}

.title-color {
  color: rgb(34, 80, 167);
}
/* Filter buttons */
.filter-container {
  display: flex;
  flex: row;
  margin-bottom: 15px;
}
.filter-container .selected {
  background-color: rgb(115, 131, 236);
  color: white;
}
.filter-container button,
.cardControl-container button {
  font-size: large;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
  border-style: none;
  margin: 10px;
  color: inherit;
  background-color: white;
  width: 150px;
  display: flex;
  justify-content: center;
}
button:hover {
  cursor: pointer;
}
.filter-select {
  display: none;
  padding: 8px 5px 8px 5px;
  border-radius: 15px;
  border-style: none;
  /* width: 144px; */
  width: 144px;
  text-align: center;
}

/* flashcards-front*/
.card-container {
  position: relative;
  box-shadow: none;
  /* width: 100%; */
  max-width: 800px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  pointer-events: auto;
  display: flex;
  justify-content: center;
}
.card-container button {
  margin-top: auto;
  font-size: small;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
  border-style: none;
  box-shadow: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.244);
}
.card-front {
  background-color: white;
  width: 50vw;
  height: 30vw;
  border-radius: 30px;
  padding: 25px 40px 25px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  top: 0;
  backface-visibility: hidden;
  pointer-events: none;
}

.tag {
  background-color: rgb(221, 232, 254);
  padding: 7px 12px 7px 12px;
  border-radius: 10px;
  text-align: right;
  width: min-content;
  align-self: flex-end;
  font-size: small;
}
.character {
  font-size: 200px;

  margin: auto;
  line-height: 200px;
}
.card-front,
.card-back,
button {
  box-shadow: 5px 5px 5px rgba(216, 216, 216, 0.592);
  pointer-events: auto;
}

/* flashcards-back */
.tag-back {
  color: white;
  background-color: rgba(221, 232, 254, 0.45);
}
.card-back {
  background-image: linear-gradient(
    135deg,
    rgb(115, 131, 236),
    rgb(116, 198, 252)
  );
  width: 50vw;
  height: 30vw;
  border-radius: 30px;
  padding: 25px 40px 25px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) rotateY(180deg);
  backface-visibility: hidden;
  pointer-events: none;
}
.char-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reveal {
  color: #6d6d6d93;
  font-size: larger;
}

.pronunciation {
  color: white;
  font-size: 120px;
  margin-bottom: 20px;
}
.hangul {
  color: white;
  font-size: 30px;
}
.char-name {
  color: white;
}
.flipped {
  transform: rotateY(180deg);
}
/* card navigation buttons */
.cardControl-container {
  display: flex;
  flex-direction: row;
}

.desktop-button,
.desktop-nav_button {
  display: block;
}
.mobile-button,
.mobile-nav_button {
  display: none;
}

/* Media queries */

@media screen and (max-width: 1050px) {
  .filter-container button,
  .cardControl-container button {
    width: 120px;
    font-size: small;
  }
}
@media screen and (max-width: 950px) {
  .card-back button {
    text-align: center;
  }
  .desktop-button {
    display: none;
  }
  .mobile-button {
    display: block;
    font-size: medium;
  }

  .card-front {
    width: 60vw;
    height: 40vw;
  }
  .card-back {
    /* padding: 15px 25px 15px 25px; */
    width: 60vw;
    height: 40vw;
  }
}
@media screen and (max-width: 720px) {
  .card-front,
  .card-back {
    width: 60vw;
    height: 45vw;
  }
  .pronunciation {
    margin: 0;
    font-size: 100px;
  }
}

@media screen and (max-width: 530px) {
  .heading {
    font-size: medium;
  }
  .title {
    font-size: medium;
  }
  .character {
    line-height: 150px;
  }
  .card-back button {
    padding: 5px 20px 5px 20px;
  }
  .card-back,
  .card-front {
    width: 70vw;
    height: 50vw;
    padding: 15px 15px 15px 15px;
  }
  .char-description {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .heading {
    font-size: medium;
  }
  .title {
    font-size: medium;
  }
  .character {
    line-height: 150px;
    font-size: 150px;
  }
  .card-back button {
    padding: 5px 20px 5px 20px;
  }
  .card-back,
  .card-front {
    width: 70vw;
    height: 50vw;
  }
  .char-description {
    display: none;
  }
  .desktop-nav_button {
    display: none;
  }
  .mobile-nav_button {
    display: flex;
    justify-content: center;
  }
  .cardControl-container button {
    width: 40px;
    padding: 12px 30px 12px 30px;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .filter-container button {
    display: none;
  }
  .filter-select {
    display: block;
  }
  .character {
    line-height: 100px;
    font-size: 130px;
  }
  .pronunciation {
    font-size: 90px;
  }
}

/* ⚠️⚠️⚠️ 
add filter functionality to dropdown menu
finish styling
put select in a div and add a border to the div?

*/
